.list-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: #ebecf0;
    margin-left: 0.4rem;
    width: 272px;
    border-radius: 3px;
    > .list-header {
        display: flex;
        justify-content: space-between;
        p {
            margin: 0px;
            box-shadow: none;
            font-weight: 600;
            min-height: 20px;
            padding: 4px 8px;
            overflow: hidden;
            overflow-wrap: break-word;
            height: 28px;
        }
        > .add-button {
            height: 25px;
            cursor: pointer;
            margin: 4px 8px;
        }
    }
    > .list-cards {
        flex: 1 1 auto;
        margin-bottom: 0;
        margin: 0 4px;
        padding: 0 4px;
        z-index: 1;
        min-height: 0;
    }
}
